.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 119px;
  }
  .image {
    position: initial;
    display: block;
    max-width: 120px;
    max-height: 120px;
    align-self: center;
    margin-bottom: 64px;
  }
  
  .image:hover {
    cursor: pointer;
    opacity: .6;
  }
  
  .subtitle {
    margin: 32px 0 61px 0;
  }
  
  .message {
    margin-top: 12px;
    margin-bottom: 120px;
  }