 
  
  .constructor1 {
    width: 600px;
    height: 1212px;
    flex-direction: column;
    display: flex;
  }
  .constructor2 {
   
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .constructor3 {
   
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column wrap;
  }
  
  .content {
    display: flex;
    justify-content: center;
  }

  .scroll {
    width: 600x;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(1000px - 132px);
    gap: 10px;
  }

  .scroll::-webkit-scrollbar {
    width: 12px;
  }
  .scroll::-webkit-scrollbar-track {
    background: #2F2F37;
  }
  .scroll::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #2F2F37;
    border-radius: 6px;
  }