header {
    width: 100%;
    /*max-width: 1280px; /*максимальная ширина может иметь другое значение*/
    Top: 16px;
    left: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

  }

  ul {
    list-style: none; /*убираем маркеры списка*/
    display: inline-flex;
  }
  
  li {display: inline;}

    a {display: flex;
      align-items: center;}

  text-decoration {color: white;}