.wrapper {
    text-align: center;
    max-width: 1820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-size: cover;
    background-position: bottom;
    background-position-x: -25vw;
    background-repeat: no-repeat;
  }
  
  .container {
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--container-padding) * 2);
  }