.title {

}

.section {

  display: flex;
  margin-top: 30%;
  height: 800px;

}

.main {
  /* display: flex;
  justify-content: center; */
}


.scroll {
   padding-bottom: 24px;

 width: 636x; 
   display: flex;
  flex-direction: column; 
  overflow-y: auto;
   height: calc(1000px - 132px);
  gap: 10px; 


}